<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Set the character encoding and viewport -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Set the title of the page -->
    <title>SpaceBook</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Include CSS stylesheets -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/root.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- Define a JavaScript function to redirect to the '/addPost' route -->
    <script>
    </script>
    <script>
        
        function redirectToAddPost() {
            window.location.href = '/addPost';
        }
    </script>
    <script type = "text/javascript">
        function reloadPage() {
            window.location.reload();
        }
        function showModal(postId) {
    document.getElementById('modalOverlay').style.display = 'block';
    document.getElementById('modalOverlay').classList.add('active');
    document.getElementById('modalOverlay').setAttribute('data-post-id', postId);
  }


  function hideModal() {
    document.getElementById('modalOverlay').style.display = 'none';
    document.getElementById('modalOverlay').classList.remove('active');
  }
    </script>
    <script>
            function menuButton() {
                var x = document.getElementById("myLinks");
                if (x.style.display === "inherit") {
                    x.style.display = "none";
                } else {
                    x.style.display = "inherit";
                    x.style.addclass = "animated";
                }
            }

  </script>
</head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<body>
    {{!-- {{fetchAndDisplayAPOD}} --}}
    <!-- Output the value of the 'isAuthenticated' variable to the console -->
    {{!-- {{consoleLog 'IsAuthenticated:' isAuthenticated}} --}}

    <!-- Define the header section of the page -->
    <header>
        <!-- Define the title section of the header -->
        <section id="title">
            <!-- Display the website name and description -->
            <h1><a href="/">SpaceBook</a></h1>
            <h4>Connect with fellow outer-space enthusiasts!</h4>
        </section>
            <div id="navArea">
                <section>

                <!-- Define the navigation menu -->
                <nav class="navigation">
                    <a href="javascript:void(0);" class="icon" onclick="menuButton()">
                        <i class="fa fa-bars fa-5x"></i>
                    </a>
                    <div id="myLinks">
                        <div id="user-field">
                            <!-- Check if the 'user' variable exists -->
                            {{#if user}}
                            {{#unlessTemplate 'about' body}}
                            <!-- Display the logout button if the user is logged in -->
                            <a href="/logout" style="text-shadow:none;font-size: 1rem;" >Logout</a>
                            {{else}}
                            {{#unlessTemplate 'feed' body}}
                            <a href="/login" style="text-shadow:none;font-size: 1rem;">Login</a>
                            {{/unlessTemplate}}
                                {{#unlessTemplate 'login' body}}
                                {{#unlessTemplate 'signup' body}}
                                {{#unlessTemplate 'about' body}}
                            <!-- Display the login button if the user is not logged in -->
                                <a href="/login" class="logout-button">Login</a>
                                {{/unlessTemplate}}
                                {{/unlessTemplate}}
                                {{/unlessTemplate}}
                            {{/unlessTemplate}}
                            {{/if}}


                            <!-- Check if the user is authenticated -->
                        </div>
                        <div id="nav-links">
                            <a href="/">Home</a>
                            <a href="/topics">Orbits</a>
                            <a href="/profile">Profile</a>
                            <a href="/about">About</a>
                        </div>
                    </div>
                </nav>
            </section>
            </div>
        
        <!-- Define the user field section of the header -->
       
    </header>

    <!-- Define the main content section of the page -->
    <main>

        <section class="content">
            <!-- Render the dynamic content of the current page -->
            {{{body}}}
        </section>
    </main>

    <!-- Define the footer section of the page -->
    <footer>
        <!-- Display the copyright information -->
        <p>&copy; 2023 SpaceBook</p>
    </footer>
</body>

</html>
