<section class="content sections about">
    <!-- This section is for the about content -->

    <h1>About Us</h1>
    <!-- This is the heading for the about section -->

    <p>We're a few students from the University of Minnesota with a passion for learning and tackling problems.</p>
    <!-- This paragraph introduces the author and provides some information about them -->
    <div class="subsections" style="display: flex; flex-direction: column; align-items: center; justify-content: flex-start">
    <p>Check out our projects on GitHub and portfolios below:</p>
    <!-- This paragraph prompts the user to check out the author's projects on GitHub -->
        <h2 style="margin: .2vh 0!important">Michael Ikonomou</h2>
        <div>
                <a class="work-link" target="_blank" href="https://github.com/IkonicRes/">GitHub</a>
                <!-- This is a link to my GitHub profile -->
                /
                <a class="work-link" target="_blank" href="https://IkonicRes.github.io/Portfolio/">Portfolio</a>
                <!-- This is a link to my portfolio website -->
        </div>
        <h2 style="margin: .2vh 0!important">Ceasar Roman</h2>
        <div>
                <a class="work-link" target="_blank" href="https://github.com/Cromananimation?tab=repositories">GitHub</a>
                <!-- This is a link to my GitHub profile -->
                /
                <a class="work-link" target="_blank" href="https://cromananimation.github.io/portfolio/">Portfolio</a>
                <!-- This is a link to my portfolio website -->
        </div>
        <h2 style="margin: .2vh 0!important">Leah Anderson</h2>
        <div>
                <a class="work-link" target="_blank" href="https://github.com/leahanders820">GitHub</a>
                <!-- This is a link to my GitHub profile -->
                /
                <a class="work-link" target="_blank" href="https://leahanders820.github.io/Portfolio/">Portfolio</a>
                <!-- This is a link to my portfolio website -->
        </div>
    </div>
</section>
<!-- This is the end of the about section -->
