:root {
    /* COLORS */
        /* BACKGROUND COLORS */
        --menu-bkgcolor: rgb(1, 0, 3);
        --textbox-bkgcolor: rgba(32, 0, 88, 0.304);
        /* TEXT COLORS */
        --main-text-color: rgb(0, 116, 204);
        /* --main-text-color: rgb(0, 78, 137); */
        --h1-text-color: rgb(1, 111, 196);
        --h2-text-color: rgb(0, 115, 203);
        /* SHADOW COLORS */
        --shadowcolor: rgba(37, 208, 255, 0.808);
        --h2-shadowcolor: rgba(52, 177, 255, 0.591);
    /* TEXT EFFECTS */
        --base-textshadow: -1px 1px 1px var(--shadowcolor),
        1px 1px 1px var(--shadowcolor),
        -1px -1px 1px var(--shadowcolor),
        1px -1px 1px var(--shadowcolor);
        --h2-textshadow: -1px 1px 1px var(--h2-shadowcolor),
        1px 1px 1px var(--h2-shadowcolor),
        -1px -1px 1px var(--h2-shadowcolor),
        1px -1px 1px var(--h2-shadowcolor);
    /* SIZES  */
        --h1-textsize: 4vw;
        --h2-textsize: 2vw;
    /* SPACING */
        --h1-margintop: 25vh;
        --textbox-padding: 1vw;
    /* BORDERS */
        --textbox-border-radius: 15px;

    /* TRANSFORM */

}