@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

@font-face {
    font-family: 'Comfortaa';
    src: url(../fonts/Comfortaa-VariableFont_wght.ttf);
  }
html {
    height: 100%;
    width: 100%;
}

* {
    font-size: var(--base-textsize);
    font-family: 'Comfortaa';
    color: var(--alt-textcolor);
    /* color: rgb(76, 0, 255) */
}

body {
    color: var(--main-textcolor);
    background-image: url('../images/Main-background.png');
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    margin: 5vh 5vw;
    /* height: 100vh; */
    width: 90vw;
    min-height: 100svh;
}

header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
    justify-content: space-between;
}

#title {
    margin-right: .5vw;
    display: inherit;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

h1 {
    font-size: var(--h1-textsize);
    text-shadow: var(--base-textshadow);
    margin: 0;
}

h1 > a{
    font-size: inherit;
    text-decoration: inherit;
    color: inherit;
}

h2 {
    font-size: var(--h2-textsize);
    margin: .2vh 0 2vh 5vw;
    text-shadow: var(--alt-textshadow);
}

h2 > q {
    font-size: inherit;
    text-shadow: var(--alt-textshadow);
    color: var(--alt-textcolor);
    margin: inherit;
}

h4 > q {
    font-size: inherit;
    text-shadow: var(--alt-textshadow);
    margin: inherit;
}

#myLinks {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
    width: 60vw;
    height: 11vh;
}
.navigation {
    /* width: 30vw; */
    align-self: flex-end;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    
}
.navigation > a{
    align-self: flex-end;

}

#nav-links {
    border: none!important;
    margin: 1vw;
}

#navArea{
    display: flex;
    flex-direction: row;
    justify-content:stretch;
    align-items: flex-start;

}


img {
    border-radius: 5px;
    box-shadow: 0 0 5px 1px rgba(42, 160, 244, 0.25), -1px -1px 10px 3px rgba(42, 160, 244, 0.25);
}

#myLinks *{
    text-decoration: inherit;
    color: inherit;
    font-size: var(--nav-textsize);
    border-left: aqua 1px solid;
    border-right: aqua 1px solid;
    border-radius: 5px;
    text-shadow: var(--base-textshadow);
    justify-self: space-between;
    margin-left: 1vw;
}

#user-field {
    display: flex;
    flex-direction: row;
    /* align-items: flex-end; */
    justify-content: flex-start;
    flex-basis: 10%;
    margin-right: 8vw;
    border: none!important;
    /* align-self: flex-end; */
    background-color: rgba(0, 0, 0, 0.518);
}
#user-field > a {
    /* margin-bottom: 15px; */
    border: none!important;
    align-self: flex-end;
    justify-self: space-between;
    margin-left: 1vw;
}

.reject {
    width: 20vw!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vh 4vw !important;
    
}
.profile {
    width: 67vw;
    min-height: 80vh;
}
.rejection-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
 
.posts {
    text-shadow: none;
    color: var(--alt-textcolor)
}
main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.518);
    padding: .2vw;
    border-radius: 7px;
    flex-basis: 10vw;
    margin-top: 1vh;
    margin-top:-5vh;
}

.feed-img {
    width: 100%;
}
.sidebar {
    position: relative; 
}
#editbox {
    background-color: rgba(0, 200, 255, 0.759);
    width: 69vw;
    height: 45vh;
}
#editboxSmall {
    background-color: rgba(0, 200, 255, 0.759);
    width: 66.25vw;
    height: 20vh;
}
#profile-add-post{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-around; */
}

#animatedTextarea {
    height: 15vh;
    background: var(--alt-bkgcolor);
    border:none;
    width: 66vw!important;
    resize: none;
}

#animatedImage {
    width: 55vw;
    height: 15vh;
    background: var(--alt-bkgcolor);
    border:none;
    resize: none;
}
textarea:focus {
    border-style: none;
    border-color: Transparent;
    overflow: auto;
    outline: none;
}
#animatedButton1 {
    border-radius: 0 0 0 15px;
    border-color: Transparent;
}
#animatedButton2 {
    border-radius: 0;
    border-color: Transparent;
}
#animatedButton3 {
    border-radius: 0;
    border-color: Transparent;
}
#animatedButton4 {
    border-radius: 0 0 15px 0;
    border-color: Transparent;
    background-color: green;
}
.APOD {
    background-color: rgba(0, 0, 0, 0.285);
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-betwe;
    align-items: center;
    padding: 5%;
    flex-basis: 25%;
    margin: 0 .5vh;
}
#apod-main {
    display: flex;
    flex-direction: column;
    margin-right: 2vw
}
.animatedImage {
    width: 20vw!important;

}
.animatedDescription {
    font-size: .75rem;
}
#sidebar-nav {
    height: 80vh;
    position: relative; 
    overflow-y: scroll;
    align-items: center;
}

.sidebar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* inline-size: 15vw; */
    /* padding: 4vh 3.5vw; */
}
.sidebar li {
    border-top: aqua 1px solid;
    border-bottom: aqua 1px solid;
    border-radius: 7px;
    margin-bottom: 1vh;
    text-align:center;
}

.sidebar a {
    text-decoration: inherit;
    color: inherit;
    font-size: var(--h2-textsize);
}

h3 {
    font-size: var(--h3-textsize);
    text-shadow: var(--alt-textshadow);
}

h4 {
    font-size: var(--h4-textsize);
    text-shadow: var(--base-textshadow);
}
.logout-button {
    /* margin-bottom:1rem!important; */
    text-decoration: inherit;
    color: inherit;
    font-size: calc(var(--h4-textsize) / 1.5)!important;
}

.like-button {
    margin-bottom:1rem!important;
    text-decoration: inherit;
    color: inherit;
    font-size: var(--h4-textsize);
    background-color: rgba(0, 200, 255, 0.759);
    border-radius: 10px;
}
.login, .signup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1vw!important;
    width: 30vw;
    text-align: right!important;
}

#login-header, #signup-header {
    font-size: var(--h2-textsize);
    text-shadow: var(--base-textshadow);
}

#login-submit, #signup-submit {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-left: 1vw;
    margin-top: 0;
}
#comment {
    min-width: 70vw;
    min-height: 15vh;
    background-color: rgba(0, 200, 255, 0.759);
}
.add-comment {
    display: flex;
    flex-direction: row-reverse;
}
#password, #username{
    background-color: rgba(0, 200, 255, 0.759);
}
.error-message {
    font-size: .7rem;
}
.login-button{
    background-color: rgba(0, 200, 255, 0.759);
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 90vw;
}
.feed {
    margin-bottom: 40px;
    padding: 2vh 2.5vw 2vh 2.5vw!important;
    display: flex!important;
    flex-direction: column!important;
}
#feed {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    /* padding-right: 40vw; */
    border-color: var(--main-bkgcolor)
}
#post-buttons {
    display: flex;
    flex-direction: row;
    height: 5vh;


}
.post-button {
    width: 16.5vw;
    height: 2rem;
    background-color: rgba(13, 158, 255, 0.759);
    border-radius: 20px;
    font-weight: 800;
    font-size: calc(var(--h4-textsize) / 1.5);    


    /* text-shadow: var(--shadowcolor); */
}
.post-button > button{
    color: var(rgb(0, 0, 0))!important;
}
.sections {
    display: column;
    margin: .1vw;
    align-items: center;
    /* padding: 2vh 2.5vw 2vh 20vw; */
    background-color: var(--main-bkgcolor);
    border-radius: 7px;
}

.single-post {
    width:  79.5vw!important;
    padding: 1vh 5vw;
}
.modal {
     display: none 
    }
.topic-list {
    width: 67vw;
}
.icon i {
    font-size: 30px;
}
.add-post {
    padding: 1vh 1vw 1vh 1vw;
    /* width: 87.5vw; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center!important;

}

#post {
    width: 40vw;
    height: 80vh;
    vertical-align: text-top;
    background-color: rgba(0, 200, 255, 0.759);
    margin: 10vw;
}

#post-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#post-form > input {
    background-color: rgba(0, 200, 255, 0.759);
}

#post-submit {
    align-self: flex-end;
    background-color: rgb(0, 200, 255, 0.759)!important;
    margin-top: 2px
}
.post-label {
    font-size: var(--h4-textsize);
}
.work-link {
    text-decoration: inherit;
    font-size: var(--h4-textsize);
    color: inherit;
}
#topics, #topics > option{
    background-color: rgba(0, 200, 255, 0.759);
}
.post-link {
    text-decoration: inherit;
    font-size: var(--h4-textsize);
    color: var(--alt-textcolor);
    text-shadow: var(--base-textshadow);
}

.post-list{
    text-align:center;
}

.subsections {
    background: var(--alt-bkgcolor);
    border: 1px rgba(0, 255, 255, 0.512) solid;
    border-radius: 7px;
    margin-bottom: 1.5vh;
}

.subsections > * {
    padding: 1vh 2vw 1vh 2vw;
}


.post {
    padding: 0 5vh;
}

.about {
    text-align: center;
    font-size: var(--h4-textsize);
    text-shadow: var(--base-textshadow);
    display:flex;
    height: 70vh;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* width: 84.5vw; */
    /* padding: 2vh 2.5vw 2vh 2.5vw; */
}

.hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s, height 0.5s;
}

.visible {
    opacity: 1;
    height: auto;
}



footer {
    text-align: center;
}
/*Extra small devices (phones, 600px and down)*/
@media only screen and (max-width: 600px) {
    * {
        font-size: 2vw;
    }
    h1 {
        font-size: calc(var(--h1-textsize) * 2);
    }
    h2 {
        font-size: calc(var(--h2-textsize) * 2);
    }
    h3 {
        font-size: calc(var(--h3-textsize) * 2);
    }
    h4 {
        font-size: calc(var(--h4-textsize) * 2);
    }
    .work-link, .post-link, .post-label {
        font-size: calc(var(--h4-textsize) * 2);
    }
    #login-header, #signup-header {
        font-size: calc(var(--h2-textsize) * 2);
    }
    .error-message {
        font-size: 1vw;
    }
    .navigation *{
        font-size: calc(var(--h4-textsize) * 1.5);
    }
    .sidebar a {
        font-size: calc(var(--h4-textsize) * 1.5);
    }
    .like-button, .logout-button {
        font-size: calc(var(--h4-textsize) * 1.5);
    }
    #post-button {
        width: 20vw;
        height: 2.1rem;
        font-size: calc(var(--h4-textsize) * 1.5);
    }
}
/*Small devices (portrait tablets and large phones, 600px and up)*/
@media only screen and (min-width: 600px) {
    * {
        font-size: 1.75vw;
    }
    h1 {
        font-size: calc(var(--h1-textsize) * 1.75);
    }
    h2 {
        font-size: calc(var(--h2-textsize) * 1.75);
    }
    h3 {
        font-size: calc(var(--h3-textsize) * 1.75);
    }
    h4 {
        font-size: calc(var(--h4-textsize) * 1.75);
    }
    .work-link, .post-link, .post-label {
        font-size: calc(var(--h4-textsize) * 1.75);
    }
    #login-header, #signup-header {
        font-size: calc(var(--h2-textsize) * 1.75);
    }
    .error-message {
        font-size: .75vw;
    }
    .navigation *{
        font-size: calc(var(--h4-textsize) * 1.35);
    }
    .sidebar a {
        font-size: calc(var(--h4-textsize) * 1.35);
    }
    .like-button, .logout-button {
        font-size: calc(var(--h4-textsize) * 1.35);
    }
    #post-button {
        width: 19vw;
        height: 2.2rem;
        font-size: calc(var(--h4-textsize) * 1.35);
    }
}
/* Medium devices (landscape tablets, 768px and up)*/
@media only screen and (min-width: 768px) {
    * {
        font-size: 1.5vw;
    }
    h1 {
        font-size: calc(var(--h1-textsize) * 1.5);
    }
    h2 {
        font-size: calc(var(--h2-textsize) * 1.5);
    }
    h3 {
        font-size: calc(var(--h3-textsize) * 1.5);
    }
    h4 {
        font-size: calc(var(--h4-textsize) * 1.5);
    }
    .work-link, .post-link, .post-label {
        font-size: calc(var(--h4-textsize) * 1.5);
    }
    #login-header, #signup-header {
        font-size: calc(var(--h2-textsize) * 1.5);
    }
    .error-message {
        font-size: .75vw;
    }
    .navigation *{
        font-size: calc(var(--h4-textsize) * 1.25);
    }
    .sidebar a {
        font-size: calc(var(--h4-textsize) * 1.25);
    }
    .like-button, .logout-button {
        font-size: calc(var(--h4-textsize) * 1.25);
    }
    #post-button {
        width: 18vw;
        height: 2.3rem;
        font-size: calc(var(--h4-textsize) * 1.25);
    }
}
/* Large devices (laptops/desktops, 992px and up)*/
@media only screen and (min-width: 992px) {
    * {
        font-size: 1.25vw;
    }
    h1 {
        font-size: calc(var(--h1-textsize) * 1.25);
    }
    h2 {
        font-size: calc(var(--h2-textsize) * 1.25);
    }
    h3 {
        font-size: calc(var(--h3-textsize) * 1.25);
    }
    h4 {
        font-size: calc(var(--h4-textsize) * 1.25);
    }
    .work-link, .post-link, .post-label {
        font-size: calc(var(--h4-textsize) * 1.25);
    }
    #login-header, #signup-header {
        font-size: calc(var(--h2-textsize) * 1.25);
    }
    .error-message {
        font-size: .75vw;
    }
    .navigation *{
        font-size: calc(var(--h4-textsize) * 1.15);
    }
    .sidebar a {
        font-size: calc(var(--h4-textsize) * 1.15);
    }
    .like-button, .logout-button {
        font-size: calc(var(--h4-textsize) * 1.15);
    }
    #post-button {
        width: 17vw;
        height: 2.4rem;
        font-size: calc(var(--h4-textsize) * 1.15);
        
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up)*/
@media only screen and (min-width: 1200px) {
    * {
        font-size: 1.25vw;
    }
    h1 {
        font-size: var(--h1-textsize);
    }
    h2 {
        font-size: var(--h2-textsize);
    }
    h3 {
        font-size: var(--h3-textsize);
    }
    h4 {
        font-size: var(--h4-textsize);
    }
    .work-link, .post-link, .post-label {
        font-size: var(--h4-textsize);
    }
    #login-header, #signup-header {
        font-size: var(--h2-textsize);
    }
    .error-message {
        font-size: .75vw;
    }
    .navigation *{
        font-size: calc(var(--h4-textsize));
    }
    .sidebar a {
        font-size: calc(var(--h4-textsize));
    }
    .like-button, .logout-button {
        font-size: calc(var(--h4-textsize));
    }
    #post-button {
        width: 16vw;
        height: 2.5rem;
        font-size: calc(var(--h4-textsize) * 1);
    
    }
}